header{
    display: flex;
    justify-content: center;
    background-image: url(../Images/photodune-3598715-woman-in-red-m.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 98vh;
}
*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-decoration: none;
}
.menu__box a{
    text-decoration: none;
    color: grey;
}
.menu__box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 6vh;
    align-items: center;
}
#menu__toggle{
    opacity: 0;
    position: absolute;
}
.black{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.533);
}
.menu__box img{
    padding-top: 10% ;
}
nav{
    width: 100%;
}
.headerInfo{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    color: white;
}
h1>b, h2>b, b{
    color: rgba(255, 0, 0, 0.8);
}
.buttons{
    display: flex;
    margin-top: 3%;
    width: 25%;
}
.buttons>form{
    height: 150%;
    width: 50%;
}
h1{
    margin-bottom: 3%;
    font-size: 4vh;
}
.headerInfo>p{
    font-size: 2.5vh;
    text-align: center;
}
#rightform{
    margin-left: 30%;
}
#blackbutton{
    background-color: black;
}
.buttons button{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    font-size: 2vh;
    outline: none;
    border: none;
}
.about{
    display: flex;
    justify-content: center;
}
.textwithh2>h2{
    width: 50%;
    text-align: center;
    margin: 5%;
}
.textwithh2 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
.textwithimage{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.textwithimage>p{
    margin: 1%;
    width: 100%;
}
.textwithh2>p{
    width: 100%;
    text-align: center;
}
.textintextwithimage{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.265);
    margin: 1%;
}
.imageplustext{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
.thatimagethaislyingneartextwihtimage{
    margin-top:0.9%;
}
.g6an{
    display: flex;
    justify-content: center;
    margin: 2%;
}
.g6an>img{
    position: relative;
    width: 1%;
    right: 13%;
    bottom: 50%;
}
.g6an>hr{
    margin: 1px;
    width: 25%;
    height: 1px;
}
.g6anes{
    display: flex;
    justify-content: space-around;
    padding-inline: 4% ;
}
.g7anes{
    width: 15%;
    text-align: center;
}
.portfolio{
    background-color: rgb(58, 58, 58);
    color: white;
    padding-top: 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.portfolionavigation{
    width: 50%;
}
.navigation{
    margin-top: 3%;
    margin-bottom: 2%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
.navigation a{
    color: rgb(255, 255, 255);
    transition: 0.2s;
}
.navigation a:hover, #red{
    color: red;
    transition: 0.2s;
}


.gridimages{
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: 50vh 50vh;
    grid-template-areas:"a1 a1 a1 a2 a2 a3 a3 a3 a4 a4"
                        "a5 a5 a5 a6 a6 a7 a7 a7 a8 a8";
}
.grey{
    height: 6vh;
    width: 100%;
    background-color: rgb(58, 58, 58) ;
}
.a1{
    grid-area: a1;
    background-image: url(../Images/Layer\ 7.png);
    background-size: 110%;
    background-repeat: no-repeat;
}
.a2{
    grid-area: a2;
    background-image: url(../Images/Layer\ 15.png);
    background-size: 110%;
    background-repeat: no-repeat;
}
.a3{
    grid-area: a3;
    background-image: url(../Images/Layer\ 9.png);
    background-size: 110%;
    background-repeat: no-repeat;
}
.a4{
    grid-area: a4;
    background-image: url(../Images/Layer\ 13.png);
    background-size: 110%;
    background-repeat: no-repeat;
}
.a5{
    grid-area: a5;
    background-image: url(../Images/Layer\ 17.png);
    background-size: 110%;
    background-repeat: no-repeat;
}
.a6{
    grid-area: a6;
    background-image: url(../Images/Layer\ 13.png);
    background-size: 110%;
    background-repeat: no-repeat;
}
.a7{
    grid-area: a7;
    background-image: url(../Images/Layer\ 11.png);
    background-size: 110%;
    background-repeat: no-repeat;
}
.a8{
    grid-area: a8;
    background-image: url(../Images/Layer\ 15.png);
    background-size: 110%;
    background-repeat: no-repeat;
}
.red{
    width: 100%;
    background-color: red;
    height: 0.2vh;
}
.table{
    display: flex;
    flex-direction: column;
}
.gigGigivich{
    border: 1px solid rgba(75, 75, 75, 0.492);
    width: 101%;
    height: 4vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 3%;
    align-items: center;
}
.gigGigivich>img{
    width: 12%;
    height: 4vh;
}
.gigGigivich>p{
    font-size: 25px;
    vertical-align: bottom;
}
.serGEY{
    display: flex;
    align-items: center;
    justify-content: center;
}

.outclints{
    background-image: url(../Images/photodune-3414776-business-group-m.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    height: 70vh;
}
.blackx2{
    background-color: rgba(0, 0, 0, 0.900);
    height: 70vh;
}
#h3{
    color: white;
}
.bundle{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
.happy>p{
    width: 100%;
}
.happy{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.happy>img{
    width: 15%;
}
.h3{
    color: red;
}
.g3anes{
    display: flex;
    width: 12%;
}
.g3an{
    width: 35%;
    height: 1.7vh;
    background-color: white;
}
#r1ed{
    background-color: red;
    margin-inline: 7% ;
}
.happy>*{
    margin-top: 3%;
    margin-bottom: 3%;
}
.happy{
    text-align: center;
}
.amr{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 30%;
}
.img4sanya{
    width: 30%;
    height: 35vh;
    margin-top: 4%;
}
.galleryofworkers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4% 16%;
}
.worker{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgba(51, 50, 50, 0.300);
}
.worker:hover{
    transition: 0.5s;
    border: 1px solid black;
}
.worker:hover h3, .worker:hover p{
    transition: 0.5s;
    color: red;
}
.textname{
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}
.textname>p, .textname>h3{
    font-weight: 400;
}
.skilsgallery{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4% 16%;
}
.skil{
    display: flex;
    text-align: center;
    width: 30%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.skil:hover h3, .skil:hover p{
    transition: 0.5s;
    color: rgba(255, 0, 0, 0.87);
}
.imageofskill{
    width: 50%;
}
.textskill{
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}
.textskill>p, .textskill>h3{
    font-weight: 400;
}
.textskill{
    width: 60%;
}
/* .textskill>p{
    width: 60%;
} */
@media(max-width: 1440px){
    
    .black{
        height: 85vh;
    }
    .gridimages{
        display: grid;
        grid-template-columns: repeat(10,10%);
        grid-template-rows: 39vh 39vh;
        grid-template-areas:"a1 a1 a1 a2 a2 a3 a3 a3 a4 a4"
                            "a5 a5 a5 a6 a6 a7 a7 a7 a8 a8";
    }
    .a1, .a2, .a3, .a4, .a5, .a6, .a7, .a8{
        background-size: 100%;
    }
    .image{
        width: 40%;
    }
    .image>img{
        width: 100%;
    }
    .amr{
        width: 50%;
    }
    .img4sanya{
        width: 50%;
        display: grid;
        grid-template-columns: repeat(2, 40%);
        grid-template-rows: repeat(2, 15vh);
        grid-template-areas: "a1 a2" "a3 a4";
    }
    .galleryofworkers{
        flex-flow: row wrap;
        align-items: center;
    }
    .skil{
        flex-flow: row wrap;
    }
}
@media(max-width: 768px){
    #menu__toggle {
      opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
      top: 0;
      transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      left: 0 !important;
    }
    .menu__btn {
      position: fixed;
      top: 20px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #616161;
      transition-duration: .25s;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    .menu__box {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #ECEFF1;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
      transition-duration: .25s;
    }
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: #333;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: .25s;
    }
    .menu__item:hover {
      background-color: #CFD8DC;
    }
    header{
        height: 45vh;
    }
    .headerInfo{
        height: 45vh;
    }
    .black{
        height: 45vh;
    }
    .buttons{
        width: 45%;
    }
    #rightform{
        margin-left: 10%;
    }
    .textwithimage{
        width: 100%;
        align-items: center;
    }
    .textintextwithimage{
        width: 75%;
    }
    .imageplustext{
        width:100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .gridimages{
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(4, 39vh);
        grid-template-areas: "a1 a2"
                             "a3 a4"
                             "a5 a6"
                             "a7 a8";
    }
    .a1, .a2, .a3, .a4, .a5, .a6, .a7, .a8{
        background-size: 100%; 
    }
    .bundle{
        flex-direction: column;
    }
    .outclints{
        background-size: 235%;
        background-position: center;
    }
    .img4sanya{
        display: grid;
        width: 70%;
        grid-template-columns: 50%  50%;
        grid-template-rows: 15vh 15vh;
        grid-template-areas: "a1  a2"
                             "a3  a4";
    }
    .amr{
        width: 80%;
    }
    .happy{
        width: 100%;
    }
    .happy>p{
        width: 100%;
    }
    .outclints, .blackx2{
        height: 100vh;
    }
    .image{
        width: 70%;
    }
    .image>img{
        width: 100%;
    }
    .serGEY{
        display: flex;
        flex-direction: column;
    }
    .galleryofworkers{
        flex-flow: wrap row;
    }
    .skilsgallery{
        flex-flow: row wrap;
        align-items: center;
    }
    .textwithh2>p{
        width: 90%;
    }
    .skil{
        width: 50%;
        height: 30vh;
    }
}
@media (max-width: 425px){
    header{
        background-size: 179%;
        background-position: center;
    }
    .buttons{
        flex-direction: column;
        align-items: center;
    }
    .buttons button{
        height: 4vh;
    }
    #rightform{
        margin: 0;
        margin-top: 10%;
    }
    .g7anes{
        width: 40%;
    }
    .g6anes{
        display: flex;
        flex-wrap: wrap;
    }
    .thatimagethaislyingneartextwihtimage{
        width: 100%;
    }
    .thatimagethaislyingneartextwihtimage>img{
        width: 100%;
    }
    .textwithh2>p{
        width: 90%;
    }
    .portfolionavigation{
        width: 99%;
    }
    .outclints{
        background-size: 525%;
        background-position: center;
        height: 120vh;
    }
    .blackx2{
        height: 120vh;
    }
    .img4sanya{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
    }
    #secondgig{
        flex-direction: row-reverse;
    }
    .img4sanya>img{
        width: 100%;
    }
    .gridimages{
        grid-template-columns: 100%;
        grid-template-rows: repeat(8, 40vh);
        grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8";
    }
    .a1, .a2, .a3, .a4, .a5, .a6, .a7, .a8{
        background-position: center;
    }
    .skilsgallery{
        flex-direction: column;
    }
    .skil{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .textskill{
        width: 100%;
    }
    .imageofskill{
        width: 100%;
    }
}
@media (max-width: 375px){
    header{
        background-size: 450%;
        background-position: center;
        height: 90vh;
    }
    .black, .headerInfo{
        height: 90vh;
    }
    .buttons{
        width: 70%;
    }
    .gigGigivich{
        width: 90%;
        height: 7vh;
    }
    .outclints{
        background-size: 560%;
    }
    .gridimages{
        grid-template-rows: repeat(8, 39vh);
    }
}
@media (max-width: 320px){
    header{
        background-size: 500%;
    }
    .outclints{
        background-size: 670%;
    }
    .gridimages{
        grid-template-rows: repeat(8, 33vh);
    }
}